{{ define "main" }}


<section>

  <h1 class="section-title">
    {{ if not .Params.hidetitle }}
      {{ .Title }}
    {{ end }}
  </h1>

  <div class="masonry-container">
    {{ range (where .Data.Pages.ByLastmod.Reverse "Section" "!=" "") }}
    <a class="masonry-item" href="{{ .Permalink }}">
      <div class="masonry-item-coverimg">
        {{ $coverimg := .Resources.GetMatch "cover.png" }}
        {{ with $coverimg }}
          <img src="{{ .RelPermalink }}" alt="{{ .Title }}" width="100%" height="150">
        {{ end }}
      </div>
      <div class="masonry-item-body">
        <div class="masonry-item-action"> {{ upper .Title }} </div>
      </div>
    </a>
    {{ end -}}
    {{ template "_internal/pagination.html" . -}}
  </div>

</section>

{{ end }}
